- name: Install nginx package
  yum: 
    name: nginx
    state: present

- name: Enable service nginx
  systemd:
    name: nginx
    enabled: yes

- name: Push nginx configuration file
  template:
    src: nginx.j2
    dest: /etc/nginx/nginx.conf

- name: create nginx configuration directory
  file:
    path: "{{ item }}"
    owner: root
    group: root
    mode: 0755
    state: directory
  with_items: 
    - /etc/nginx/sites-available/
    - /etc/nginx/sites-enabled/

- name: Push nginx https redirection configuration file
  template:
    src: redirect.j2
    dest: /etc/nginx/sites-available/https-redirect.conf

- name: activate nginx https redirection
  file:
   src: /etc/nginx/sites-available/https-redirect.conf
   dest: /etc/nginx/sites-enabled/https-redirect.conf
   state: link

- name: Push nginx https reverse configuration file
  template:
    src: reverse.j2
    dest: /etc/nginx/sites-available/https-reverse.conf

- name: activate nginx https reverse
  file:
   src: /etc/nginx/sites-available/https-reverse.conf
   dest: /etc/nginx/sites-enabled/https-reverse.conf
   state: link

  service:
    name: nginx
    state: started