- name: Install nginx package and dependancy
  yum: 
    name: nginx, letsencrypt, openssl
    state: present

- name: Enable nginx service
  systemd:
    name: nginx
    enabled: yes

- name: Push nginx configuration file
  template:
    src: nginx.j2
    dest: /etc/nginx/nginx.conf

- name: create nginx configuration directory
  file:
    path: "{{ item }}"
    owner: root
    group: root
    mode: 0755
    state: directory
  with_items: 
    - /etc/nginx/sites-available/
    - /etc/nginx/sites-enabled/
    - /etc/nginx/letsencrypt/

- name: Push nginx http redirection configuration file
  template:
    src: redirect.j2
    dest: /etc/nginx/sites-available/https-redirect.conf

- name: Start nginx https redirection
  file:
   src: /etc/nginx/sites-available/https-redirect.conf
   dest: /etc/nginx/sites-enabled/https-redirect.conf
   state: link

- name: Create letsencrypt certificate
  shell: letsencrypt certonly -n --webroot -w /etc/nginx/letsencrypt --agree-tos -d {{ ansible_nodename }}
  args:
    creates: /etc/letsencrypt/live/{{ ansible_nodename }}

- name: Generate dhparams
  shell: openssl dhparam -out /etc/nginx/dhparams.pem 2048
  args:
    creates: /etc/nginx/dhparams.pem

- name: Push nginx https reverse configuration file
  template:
    src: reverse.j2
    dest: /etc/nginx/sites-available/https-reverse.conf

- name: Activate nginx https reverse
  file:
   src: /etc/nginx/sites-available/https-reverse.conf
   dest: /etc/nginx/sites-enabled/https-reverse.conf
   state: link

- name: Start nginx service 
  service:
    name: nginx
    state: restarted

- name: Add letsencrypt cronjob for cert renewal
  cron:
    name: letsencrypt_renewal
    special_time: weekly
    job: letsencrypt --renew certonly -n --webroot -w /etc/nginx/letsencrypt --agree-tos -d {{ ansible_nodename }} && service nginx reload  