<?php
$CONFIG = array (
  'updatechecker' => false,
  'instanceid' => 'ocxvkxbf5zhr',
  'passwordsalt' => '',
  'datadirectory' => '{{ owncloud_data_dir }}',
  'dbtype' => 'mysql',
  'dbhost' => '{{ owncloud_db_hostname }}',
  'dbuser' => '{{ owncloud_db_user }}',
  'dbname' => '{{ owncloud_db_database }}',
  'dbpassword' => '{{ owncloud_db_password }}',
  'dbtableprefix' => 'oc_',
  'installed' => true,
  'operation.mode' => 'single-instance',
);
