#version=DEVEL
# Use network installation
#url --url="http://mirror.centos.org/centos/7/os/x86_64/"
#repo --name="EPEL" --baseurl=https://dl.fedoraproject.org/pub/epel/7/x86_64/
# Use CDROM installation media
cdrom
# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=fr-oss --xlayouts='fr (oss)'
# System language
lang fr_FR.UTF-8

# Network information
network  --bootproto=dhcp --device=bond0 --noipv6 --activate --bondslaves=ens33,ens32 --bondopts=downdelay=0,miimon=1,mode=balance-rr,updelay=0
network  --hostname=elserverido.no-ip.info

# Root password
rootpw --iscrypted $6$SHI6bXeNh9AdZYXz$/odbW5R42LK4s7YGEfjD3Uw9Tp.LbUR6DOHiUwIO2SFGLUOodY4JmJzN6xftTGRz91oFWnB3RALX/T5IIg.qy/
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Paris --isUtc --nontp
# Setting up Security-Enhanced Linux into enforcing
selinux --enforcing
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

# Partition clearing information
clearpart --all --drives=sda
ignoredisk --only-use=sda
# Disk partitioning information
part pv.440 --fstype="lvmpv" --ondisk=sda --size=20480
part pv.441 --fstype="lvmpv" --ondisk=sda --size=20480
part /boot --fstype="ext3" --ondisk=sda --size=256

volgroup rootvg --pesize=4096 pv.440
volgroup appvg --pesize=4096 pv.441

logvol /tmp  --fstype="ext3" --size=2048 --name=tmplv --vgname=rootvg
logvol /  --fstype="ext3" --size=1024 --name=rootlv --vgname=rootvg
logvol /usr  --fstype="ext3" --size=2048 --name=usrlv --vgname=rootvg
logvol /home  --fstype="ext3" --size=256 --name=homelv --vgname=rootvg
logvol swap  --fstype="swap" --size=8192 --name=swaplv --vgname=rootvg
logvol /opt  --fstype="ext3" --size=64 --name=optlv --vgname=rootvg
logvol /var  --fstype="ext3" --size=5120 --name=varlv --vgname=rootvg

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end